<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShopMart</title>

    <link rel="stylesheet" href="/static/css/home1.css">

</head>

<body>

    <nav class="navbar"></nav>

    <!-- hero section -->
    <header class="hero-section">
        <div class="content">
            <img src="/static/img/logo_home.png" class="logo" alt="">
            <p class="sub-heading">Where World Comes To Shop</p>
        </div>
    </header>

    <!-- cards-container-->
    <section class="product">
        <h2 class="product-category">best selling</h2>
        <div class="product-container">
            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag">50% off</span>
                    <img src="/static/images/images/card1.png" class="product-thumb" alt="">
                    <button class="card-btn">add to whislist</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">brand</h2>
                    <p class="product-short-des">a short line about the cloth..</p>
                    <span class="price">$20</span><span class="actual-price">$40</span>
                </div>
            </div>
            +7 more cards
        </div>
    </section>


    <script src="/static/js/nav.js"></script>





</html>